* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", Arial, Impact, Serif;
  background-color: lightpink;
  background: url("../images/fond.png") no-repeat;
  background-size: cover;
}

@media screen and (max-width: 800px) {
  body {
    margin: 0;
    padding: 0;
  }

  /*===============================MENU-TOP-BURGER===================*/
  .menu-burger {
    display: block;
    position: relative;
    left: 20px;
    z-index: 1;
  }

  .menu-burger input {
    display: block;
    width: 50px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }

  .menu-burger span {
    display: block;
    width: 50px;
    height: 10px;
    margin-bottom: 5px;
    position: relative;
    border: 1px solid whitesmoke;
    background: black;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.6s ease;
  }

  .menu-burger span:first-child {
    transform-origin: 0% 0%;
  }

  .menu-burger span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  .menu-burger input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }

  .menu-burger input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  .menu-burger input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  .menu {
    position: absolute;
    width: 200px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background-color: rgba(0, 0, 0, 0.9);
    list-style-type: none;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  .menu li {
    padding: 10px 0;
    font-size: 25px;
  }

  .menu-burger input:checked ~ ul {
    transform: none;
  }

  /*==================================HEADER-RESPONSIVE=========================*/
  header h1 {
    text-align: center;
  }

  .nav-top {
    display: none;
  }

  .logo {
    margin: -50px 0;
    padding-bottom: 50px;
  }
}
li {
  list-style: none;
}

.nav-top {
  float: right;
  margin-top: 1.5rem;
  text-align: center;
  background-color: black;
  border: 4px outset silver;
  width: 100%;
}

header nav ul li {
  background-color: black;
  font-weight: bold;
  padding: 1rem 5rem 0.9rem 5rem;
  display: inline-block;
}

header a {
  color: gainsboro;
  font-size: 20px;
}

.menu-burger {
  display: none;
}

footer nav {
  float: right;
  text-align: center;
  margin-top: 1.3rem;
  background-color: black;
  border: 4px inset silver;
  width: 100%;
}

footer nav ul li {
  background-color: black;
  font-weight: bold;
  padding: 0 5rem 0 5rem;
  display: inline-block;
}

footer a {
  color: gainsboro;
  font-size: 20px;
}

header {
  /*background: url('../images/banner1.jpg');
  background-size: cover;*/
  border-bottom: 7px solid black;
  height: 350px;
}

header h1 {
  text-shadow: 1px 1px black;
  color: hotpink;
}

.logo {
  /*float: left;*/
  padding: 4rem 0 0 4rem;
}

footer {
  height: 300px;
  border-top: 5px solid silver;
  background: url("../images/fond-footer.png") no-repeat;
  background-size: cover;
}

footer h2 {
  text-align: center;
  margin: 1.3em 0 0 0;
  text-shadow: 2px 2px black;
  font-size: 2rem;
}

.contact-footer {
  text-align: center;
}

.p-footer {
  color: whitesmoke;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  text-align: center;
  margin: 25px 0;
}

textarea {
  width: 600px;
  height: 300px;
  text-align: center;
  font-size: 1.2rem;
  padding-top: 100px;
}

form input {
  width: 500px;
  height: 40px;
  text-align: center;
  font-size: 1.2rem;
}

.map {
  width: 100%;
  height: 450px;
  border: 3px solid silver;
}

.main-image {
  background: url("../images/fond4.jpg") no-repeat;
  background-size: cover;
  height: 1000px;
}

.h2-contact {
  font-size: 3.5rem;
  color: wheat;
  text-shadow: 2px 2px black;
  text-decoration: underline black;
  margin-top: 50px;
  font-weight: bold;
}

.info-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 50px;
  font-weight: bold;
  color: bisque;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
