footer
{
    height: 300px;
    border-top: 3px solid rgba(240,240,240,.7);
    background: url('../images/fond-footer.png') no-repeat;
    background-size: cover;
}

.contact-footer
{
    text-align: center;
    margin: 3rem 0;
}

.p-footer
{
    color: whitesmoke;
    text-align: center;
    margin: 2.5rem 0;
}
