header
{
    /*background: url('../images/banner1.jpg');
    background-size: cover;*/
    border-bottom: 7px solid black;
    height: 350px;
}


header h1
{
    text-shadow: 1px 1px black;
    color: hotpink;
}

.logo
{
    /*float: left;*/
    padding: 4rem 0 0 4rem;
}
