li {
    list-style: none;
}

.nav-top {
    float: left;
    margin-top: 1.5rem;
    text-align: center;
    background-color: black;
    border: 4px outset rgb(192, 192, 192);
    width: 100%;
    height: 100%;
}

header nav ul li {
    font-weight: bold;
    padding: .7rem 8% .7rem 8%;
    display: inline-block;
}

header a {
    color: rgb(245, 96, 170);
    font-size: 20px;
}

.menu-burger {
    display: none;
}

footer nav {
    text-align: center;
    margin-top: 4rem;
    background-color: black;
    border: 4px inset rgb(192, 192, 192);
    width: 100%;
}

footer nav ul li {
    font-weight: bold;
    padding: .5rem 8% .5rem 8%;
    display: inline-block;

}

footer a {
    color: rgb(255, 105, 180);
    font-size: 20px;
}