.h2-contact
{
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
    color: hotpink;
    text-shadow: 2px 2px black;
    text-decoration: underline black;
    margin-top: 5rem;
    font-weight: bold;
}

.info-contact
{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin-bottom: 4rem;
    font-weight: bold;
    color: black;
    text-shadow: 1px 1px hotpink;
}

.p-contact
{
    text-shadow: 1px 1px hotpink;
    width: 50%;
    text-align: center;
}