
.accueil
{
    display: flex;
    justify-content: center;
}

.h2-animation
{
    display: block;
    font-size: 2.5rem;
    text-shadow: 2px 2px hotpink;
    font-weight: bold;
    animation: 10s linear 0s infinite alternate move-eye;
	padding:0 5px;
    text-align:center;
    height: 50px;
    overflow: hidden;
    margin-top: 2rem;
}

@keyframes move-eye 
{ 
    from { margin-left:-60%; } to { margin-left:60%; }  
}

.p-accueil
{
    font-size: 1.7rem;
    font-weight: bold;
    margin: 2rem 0;
    text-shadow: 1px 2px hotpink;
    text-align: center;
    width: 75%;
    background-color: rgba(240,240,240, .7);
    border: 5px solid black;
    border-radius: 5px ;
}
